.card {
  border: none;
}

.gravatar {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

.card-img-top {
  height: 150px; 
  margin-top: 25px;
}

.closeSuggests {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  cursor: pointer;
}