<h3>"What is Reactive Programming?"</h3>
<ul class="m-a-lg list-group">
  <li class="list-group-item" role="button" data-toggle="collapse" href="#panel1" aria-expanded="false" aria-controls="panel1">Stream
    <div class="collapse" id="panel1">
      <div class="well">
        <img width="100%" src="assets/img1.png" />
      </div>
    </div>
  </li>  
  <li class="list-group-item" role="button" data-toggle="collapse" href="#panel2" aria-expanded="false" aria-controls="panel2">Proccessing Stream
    <div class="collapse" id="panel2">
      <div class="well">        
        <img width="70%" src="assets/img2.png" />
      </div>
      <div class="well"><a class="nav-link" routerLink="/throttle">Мой примерчик</a></div>
    </div>
  </li>
</ul>
